@import 'tailwindcss';

@theme {
  --color-border-rurikon: #d8dbdfb3;
  --color-rurikon-50: #ebedef;
  --color-rurikon-100: #d8dbdf;
  --color-rurikon-200: #b3b9c1;
  --color-rurikon-300: #8c95a1;
  --color-rurikon-400: #697381;
  --color-rurikon-500: #4a515b;
  --color-rurikon-600: #3b4149;
  --color-rurikon-700: #2b3035;
  --color-rurikon-800: #1e2125;
  --color-rurikon-900: #0e0f11;
  --color-rurikon-950: #07080a;
}

@layer base {
  html {
    font-family: 'Georgia';
    color: #1b160e;
  }
}
